{% extends "base.html" %} <!-- Extending a base HTML template for consistent structure -->

{% block title %}Dashboard{% endblock %} <!-- Setting the title of the page -->

{% block content %}

<style>
    /* Active button style for the active mode */
    .btn-active {
        background-color: #4a90e2; /* Set a blue background for active button */
        color: white; /* Set text color to white for visibility */
    }

    /* Inactive button style for the inactive mode */
    .btn-inactive {
        background-color: transparent; /* Transparent background for inactive button */
        color: #4a90e2; /* Set text color to the same blue as the active button */
        border: 2px solid #4a90e2; /* Blue border for inactive button */
    }

    /* Button hover effect to enhance user interaction */
    .btn:hover {
        opacity: 0.8; /* Slightly dim the button when hovered */
    }
</style>

<div class="container mt-5 text-center"> <!-- Main container for the dashboard -->
    <h1 class="display-4 font-weight-bold">Dashboard</h1> <!-- Main heading for the dashboard -->
    <div class="mb-4"> <!-- Margin below the button group -->
        <!-- Link for Automatic mode -->
        <a href="{{ url_for('Dashboard_Page', mode='automatic') }}" class="btn {% if mode == 'automatic' %}btn-active{% else %}btn-inactive{% endif %} mr-2">Automatic</a>
        <!-- Link for Manual mode -->
        <a href="{{ url_for('Dashboard_Page', mode='manual') }}" class="btn {% if mode == 'manual' %}btn-active{% else %}btn-inactive{% endif %}">Manual</a>
    </div>
    
    <div id="content-area"> <!-- Area to load content based on selected mode -->
        {% if mode == 'automatic' %} <!-- Conditional rendering for Automatic mode -->
            {% include 'SensorsReadings.html' %} <!-- Include content for Automatic mode -->
            {% include 'PumpControl.html' %} <!-- Include pump control UI -->
            {% include 'NewonLedControl.html' %} <!-- Include Neown Led Strip Control -->
        {% elif mode == 'manual' %} <!-- Conditional rendering for Manual mode -->
            {% include 'SensorsReadings.html' %} <!-- Include content for Manual mode -->
            {% include 'PumpControl.html' %} <!-- Include pump control UI -->
            {% include 'NewonLedControl.html' %} <!-- Include Neown Led Strip Control -->
        {% endif %}
    </div>
</div>

{% endblock %}
