<h2 class="h3 font-weight-bold mb-4">Manual Mode - Sensors Readings</h2>
<div class="row justify-content-center">
    <!-- pH Sensor -->
    <div class="col-md-4">
        <div class="card shadow-sm">
            <div class="card-body">
                <h5 class="card-title">pH Sensor</h5>
                <h3 id="ph" class="display-4"></h3>
            </div>
        </div>
    </div>
    <!-- Temperature Sensor -->
    <div class="col-md-4">
        <div class="card shadow-sm">
            <div class="card-body">
                <h5 class="card-title">Temperature</h5>
                <h3 id="temperature" class="display-4"></h3>
            </div>
        </div>
    </div>
    <!-- Humidity Sensor -->
    <div class="col-md-4">
        <div class="card shadow-sm">
            <div class="card-body">
                <h5 class="card-title">Humidity</h5>
                <h3 id="humidity" class="display-4"></h3>
            </div>
        </div>
    </div>
</div>




