<link rel="stylesheet" href="/static/css/NewonLedControl.css">   

<!-- Main container for LED control -->
<div id="led-section" class="container">
<!-- LED content -->
<h2>LED Control</h2>
<!-- LED control section -->
<div class="led-container">
    <div class="led-info">
        <!-- Title for the LED -->
        <p class="led-title">LED 1</p>
        <!-- Toggle switch -->
        <label class="switch">
            <input type="checkbox" id="led1Toggle" {% if mode == 'automatic' %}disabled{% endif %}>
            <span class="slider round"></span>
        </label>
        <!-- LED status display -->
        <p id="led1Status" class="led-status off">LED is OFF</p>
    </div>
</div>
</div>


<!-- Axios library for making HTTP requests -->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/static/js/NewonLedControl.js"></script>

