<link rel="stylesheet" href="/static/css/PumpControl.css"> <!-- Link to external CSS -->



<div id="pump-section" class="container">        
    <h2>Pump Control</h2> <!-- Main heading for the pump control section -->
    <div class="pump-container">
        <!-- Pump 1 information -->
        <div class="pump-info">
            <p class="pump-title">Pump 1</p> <!-- Title for Pump 1 -->
            <label class="switch">
                <input type="checkbox" id="pump1Toggle" {% if mode == 'automatic' %}disabled{% endif %}> <!-- Checkbox for toggling Pump 1 -->
                <span class="slider round"></span> <!-- Slider UI element -->
            </label>
            <p id="pump1Status" class="pump-status">Pump is OFF</p> <!-- Display the current status of Pump 1 -->
        </div>
        <!-- Pump 2 information -->
        <div class="pump-info">
            <p class="pump-title">Pump 2</p> <!-- Title for Pump 2 -->
            <label class="switch">
                <input type="checkbox" id="pump2Toggle" {% if mode == 'automatic' %}disabled{% endif %}> <!-- Checkbox for toggling Pump 2 -->
                <span class="slider round"></span> <!-- Slider UI element -->
            </label>
            <p id="pump2Status" class="pump-status">Pump is OFF</p> <!-- Display the current status of Pump 2 -->
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script> <!-- Import Axios for making HTTP requests -->
<script src="/static/js/PumpControl.js"></script>

