
<link rel="stylesheet" href="/static/css/solinoid_valves.css"> <!-- Link to external CSS -->

<div class="container">
    <h2 class="text-center">Solenoid Valves Control</h2> 
    <div class="valves-container"> 
        <div class="valve-info">
            <p class="valve-title">Valve 1</p>
            <label class="switch">
                <input type="checkbox" id="valve1Toggle" {% if mode == 'automatic' %}disabled{% endif %}>
                <span class="slider round"></span>
            </label>
            <p id="valve1Status" class="valve-status">Valve is OFF</p>
        </div>
        <div class="valve-info">
            <p class="valve-title">Valve 2</p>
            <label class="switch">
                <input type="checkbox" id="valve2Toggle" {% if mode == 'automatic' %}disabled{% endif %}>
                <span class="slider round"></span>
            </label>
            <p id="valve2Status" class="valve-status">Valve is OFF</p>
        </div>
        <div class="valve-info">
            <p class="valve-title">Valve 3</p>
            <label class="switch">
                <input type="checkbox" id="valve3Toggle" {% if mode == 'automatic' %}disabled{% endif %}>
                <span class="slider round"></span>
            </label>
            <p id="valve3Status" class="valve-status">Valve is OFF</p>
        </div>
        <div class="valve-info">
            <p class="valve-title">Valve 4</p>
            <label class="switch">
                <input type="checkbox" id="valve4Toggle" {% if mode == 'automatic' %}disabled{% endif %}>
                <span class="slider round"></span>
            </label>
            <p id="valve4Status" class="valve-status">Valve is OFF</p>
        </div>
    </div>
</div>

<!-- Axios library for HTTP requests -->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/static/js/solinoid_valves.js"></script> <!-- Link to external JS -->

